/* --- Font imports --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Component imports --- */
@import url("components/container.css");
@import url("components/card-vertical.css");

/* --- Fonts & colors --- */
html{
    box-sizing: border-box;
  }

*,
*:before,
*:after{
  box-sizing: inherit;
}


body {
  background-color: rgb(245,245,245);
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
  margin-left:30px;
}

p {
  margin-left:20px;
}


@media only screen and (min-width: 1024px){
  .masonry {
    column-count:4
  }
}

@media only screen and (max-width: 1024px) and (min-width:768px) {
  .masonry {
    column-count:3
  }
}

@media only screen and (max-width: 768px) and (min-width:540px){
  .masonry {
    column-count:2
  }
}