.container {
  padding: 0 160px;
  /* columns: 2 12em; */
}

.container .masonry {
  column-count:2;
  column-gap:1em;
  margin:1.5em auto;
  max-width: 900px;
}

.container .masonry .card-vertical {
  background-color:#eee;
  display:inline-block;
  margin:0 0 1.5em;
  width: 100%;
  padding:1em;
}

.container > h1{
  animation:flash;
  animation-duration: 10s;
}

@media only screen and (max-width: 768px)  {
  .container {
    padding: 0;
  }

  .container .masonry {
    column-count:1;
  }
}

